.admin-container {
  display: flex;
  height: 100vh;
  background-color: #f9fafb;
}
.header-content-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.content-container {
  // padding: 20px;
  flex: 1;
  overflow-y: auto;
}
