.sidebar-container {
  width: 280px;
  border-right: 1px solid white;
  transition: width 0.3s ease;
  background-color: #65A7E3;
  .sidebar-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    border-bottom: 1px solid white;
  }
  .title {
    color: blue;
    margin-left: 10px;
  }
  &.close {
    width: 82px;
  }
  .menu-list {
    width: 100%;
    .menu-items {
      color: white;
      display: flex;
      align-items: center;
      margin: 10px;
      padding: 5px 20px;
      border-radius: 10px;
      transition: background-color 0.2s;
      .icon {
        font-size: 22px;
        padding-right: 17px;
      }
      &:hover {
        background-color: #4093DE;
        
      }
      &.active {
        background-color: #ecf3ff;
        color: #65A7E3;
      }
    }
  }
  .logo-image {
    width: 80px;
    height: 80px;
    border-radius: 5px;
    object-fit: cover;
    margin-bottom: 5px;
  }
}
