.sidebar-container {
  width: 280px;
  border-right: 1px solid rgb(200, 198, 198);
  .title {
    text-align: center;
    margin: 20px;
    color: blue;
  }
  .menu-list {
    width: 100%;
    .menu-items {
      color: black;
      display: flex;
      align-items: center;
      margin: 10px;
      padding: 5px 20px;
      border-radius: 10px;
      transition: background-color 0.2s;
      .icon {
        font-size: 22px;
        padding-right: 17px;
      }
      &:hover {
        background-color: #f2f4f7;
      }
      &.active {
        background-color: #ecf3ff;
        color: #465fff;
      }
    }
  }
}
