.header-container {
  border-bottom: 1px solid rgb(200, 198, 198);
  height: 70px;
  display: flex;
  align-items: center;
  .icon-fabars {
    width: 39px;
    height: 39px;
    border: 1px solid #d6d9df;
    padding: 5px 10px;
    border-radius: 5px;
    margin-left: 20px;
    cursor: pointer;
    transition: background-color 0.2s;
    &:hover {
      background-color: #f2f4f7;
    }
  }
}
